<img src="/LP_top.jpg" class="top-image">

<img src="/logo_background.jpg" class="top-image">
<img src="/spread.png" class="logo-spread">
<img src="/outgoing.png" class="logo-outgoing">
<img src="/influence.png" class="logo-influence">
<img src="/offer_inf.png" class="logo-offer_inf">

<br><br>

<div class="link-design">
　<a href= "/posts/new" class="btn-square">参加申し込みはこちら</a>
</div>

<br><br><br><br>

<div class="center">
  <h1 class="title-border">アンバサダー紹介</h1>
  <br>
  <a href="https://www.instagram.com/machinegun_yamakita"><img src="/ambassador_1.jpg" class="ambassador-image"></a>
</div>

<br><br><br>

<p id="notice"><%= notice %></p>
<div class="center">
  <h1 class="title-calendar">イベントスケジュール</h1>
</div>

<br>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.event_name, "events/index" %>
    </div>
  <% end %>
<% end %>

<br>

<h3 class="center">直近のイベント</h3>
<table class="table-calendar">
  <thead>
    <tr>
      <th>イベント名</th>
      <th>カテゴリー</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coming_events.each do |event| %>
      <tr> 　
        <td><%= event.event_name %></td>
        <td><%= event.category %></td>
        <td><%= event.start_time.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="footer">
      &copy; 2020 JulyFourth
     <br><br><br><br>
</div>