<img src="/top-image_new.png" class="top-image">

<br><br><br><br><br><br>

<img src="/logo1.png" class="top-image">
<img src="/logo2.png" class="top-image">

<br><br>

<div class="link-design">
　<a href= "/posts/new" class="btn-square">参加申し込みはこちら</a>
</div>

<br>

<img src="/amb.png" class="top-image">

<br><br><br><br><br><br><br>

<p id="notice"><%= notice %></p>
<div class="center">
  <h1 class="title-calendar">イベントスケジュール</h1>
</div>

<br>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= event.category %>
      <br>
      <% unless event.amb_name1 == nil %>
        <%= link_to(event.amb_name1, "/ambassadors1/#{event.id}") %>
      <% end %>  
      <% unless event.amb_name2 == nil %>
        <%= link_to(event.amb_name2, "/ambassadors2/#{event.id}") %>
      <% end %> 
    </div>
  <% end %>
<% end %>

<br>

<h3 class="title-close_event">直近のイベント</h3>
<table class="table-calendar">
  <thead>
    <tr>
      <th>カテゴリー</th>
      <th>時間</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @coming_events.each do |event| %>
      <tr> 　
        <td><%= event.category %></td>
        <td><%= event.start_time.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<img src="/introduction.png" class="top-image">
<img src="/information.png" class="top-image">

<div class="footer">
      &copy; 2020 JulyFourth
     <br><br><br><br>
</div>