<%= form_with(model: @event, url: "/events/create", local: true) do |form| %>
    <br>
    <br>
    <div class="title">
      <%= form.label :event_name %>
      <%= form.text_field :event_name %>
    </div>
  
      <div class="time">
      <%= form.label :日時 %>
      <%= form.datetime_select :start_time %>
    </div>
  
    <div class="content">
      <%= form.label :カテゴリー %>
      <%= form.select :category, {"influence":"influence", "outgoing":"outgoing", "spread":"spread", "offer_inf":"offer_inf"} %>
    </div>
  
  
    <div class="submit">
      <%= form.submit %>
    </div>
  
  <% end %>