<%= form_with(model: @event, url: "/events/create", local: true) do |form| %>
    <br>
    <br>
    <div class="title">
      <%= form.label :講師1 %>
      <%= form.text_field :amb_name1 %>
      <%= form.label :講師1の画像 %>
      <%= form.file_field :amb_img1, class: "image" %>
      <%= form.label :講師1のコンテンツ %>
      <%= form.text_field :amb_content1 %>
　　  <br>
      <%= form.label :講師2 %>
      <%= form.text_field :amb_name2 %>
      <%= form.label :講師2の画像 %>
      <%= form.file_field :amb_img2, class: "image" %>
      <%= form.label :講師2のコンテンツ %>
      <%= form.text_field :amb_content2 %>
    </div>
  
      <div class="time">
      <%= form.label :日時 %>
      <%= form.datetime_select :start_time %>
    </div>
  
    <div class="content">
      <%= form.label :カテゴリー %>
      <%= form.select :category, {"influence":"influence", "outgoing":"outgoing", "spread":"spread", "offer_inf":"offer_inf"} %>
    </div>
  
  
    <div class="submit">
      <%= form.submit %>
    </div>
  
<% end %>