<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header-menus">
        <%if @current_user %>
         <li>
           <%= link_to 'LPトップページ', '/events/index' %>
         </li>
         <li>
           <%= link_to("参加申込者一覧", "/posts/index") %>
         </li>
         <li>
           <%= link_to 'イベント登録', '/events/new' %>
         </li>
         <li>
           <%= link_to '参加者登録', '/influencers/new' %>
         </li> 
         <li>
           <%= link_to("ログアウト", "/logout", {method: :post}) %>
         </li> 
        <% end %>
      </ul>
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
       <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
　　　
   <footer class="center">
      &copy; 2020 JulyFourth
   </footer> 
  </body>
</html>
